<% if task.marking? day %>
    <% color = task.member_color.presence || Settings.default.task_color %>
    <td class="tr-task-day" style="background-color: <%= color %>">
      <a class="js-task-day-note">
        <img src="<%= image_url("icon/blank.png") %>"
          style="width: 100%; height: 100%" data-placement="top" data-trigger="click"
          data-html="true" data-toggle="popover" data-content='<%= render "day_popover_modal", task: task, day: day %>'>
      </a>
    </td>
  <% else %>
    <td class="tr-task-day <%= weekend_class day %>">
      <a class="js-task-day-note">
        <img src="<%= image_url("icon/blank.png") %>" width=30 height=30
          style="width: 100%; height: 100%" data-placement="top" data-trigger="click"
          data-html="true" data-toggle="popover" data-content='<%= render "day_popover_modal", task: task, day: day %>'>
      </a>
    </td>
  <% end %>
